<div class="container" style="margin-top: 20px;">
    <h1><%= @selected.title %>의 상세 페이지 입니다</h1>
    <img src="<%= @selected.img %>">
    <h2><%= @selected.event_type %></h2>
    <h2><%= @selected.event_content %></h2>
    <h2><%= @selected.event_date_S %></h2>
    <h2><%= @selected.event_time_S %></h2>
    <h2><%= @selected.event_date_F %></h2>
    <h2><%= @selected.event_time_F %></h2>
    <h2><%= @selected.event_manage %></h2>
    <h2><%= @selected.event_call %></h2>
</div>
